<!-- <img src="styles/images/pattern.png" id="pattern"> -->
<div class="container">

<div class="bio">
<h3>Hello!</h3>

  <h4>
  <p>My name is Kara Bayse.  I am a full-stack software engineer living in Minnesota.
  In my free time, I enjoy traveling domestically and internationally, reading, listening to music,
  playing tennis, and hiking.
  </p>

  <p>
  I am on a mission to learn as much as possible about technology.
  </p>
  </h4>
</div>

<p>
<br>
<br>
</p>
<hr width="100%">

<div class="technicalSkills">

<h3>Technical Skills</h3>
<h4>
<p>
Javascript
MongoDB
Express.js
AngularJS
Node.js
PostgreSQL
HTML5
CSS3
Bootstrap
jQuery
Git
GitHub
npm
AJAX
APIs
Heroku
</p>
</h4>
</div>


<div class="codercat">
<img src="./styles/images/femalecodertocat.png">
</div>

</div>
