<!-- <img src="styles/images/pattern.png" id="pattern"> -->
<div class="container">

  <div class="bio">
    <h3>Hello!</h3>

    <h4>
  <p>
    My name is Kara Bayse.  I am a full-stack software engineer living in Minnesota.
    In my free time, I enjoy traveling domestically and internationally, reading, listening to music,
    playing tennis, and hiking.
  </p>

  <p>
    I am on a mission to learn as much as possible about technology.
  </p>
  </h4>
  </div>

  <p>
    <br>
    <br>
  </p>
  <hr width="100%">

  <div class="technicalSkills">
    <h3>Technical Skills</h3>
    <h4>
<p>
Javascript  |
AngularJS  |
jQuery  |
MongoDB  |
PostgreSQL  |
Express.js  |
Node.js  |
HTML5  |
CSS3  |
Bootstrap  |
Git  |
GitHub  |
npm  |
AJAX  |
APIs  |
Heroku
</p>
</h4>
  </div>
  <hr width="100%">

  <div class="education">
    <h4>
<p>
  <h3>Education</h3>
  <h4>
    <p>
  Prime Digital Academy	 |
  Full Stack Software Engineering Certification
  </p>

  Gustavus Adolphus College  |
  Bachelor of Arts: English Major, Spanish Minor
  </h4>
</p>
</h4>
  </div>


  <div class="codercat">
    <img src="./styles/images/femalecodertocat.png">
  </div>

</div>
