<div class="container" id="work">

<div id="gitHub">
  <p>
    <h3>Check out my full body of work on GitHub:</h3>
  </p>
  <hr width="100%">

  <p>
    <a href="https://github.com/karabayse"><img src="./styles/images/github.png" width="250" height="100"></a>
  </p>
</div>

  <p>
    <p>
      <a href="https://travelogue-solo-project.herokuapp.com"><h3>Travelogue  |  Solo Project</h3></a>
    </p>
    <h5>
      Upon traveling, I found myself wanting to log my experiences without the burden of writing longhand entries at the end of the day.
      Users have the ability to electronically log travel experiences with a date stamp and geolocation.
      Technologies used:  JavaScript, AngularJS, MongoDB, Mongoose, CSS3, Bootstrap, Node.js, Express.js, Google Maps API, Filestack API
    </h5>
    <img src="styles/images/travelogue.png" width="900" height="600">
  </p>

  <br>
  <br>

  <p>
    <p>
      <a href="https://github.com/karabayse/Pabs_Packs"><h3>Pab's Packs  |  Group Project</h3></a>
    </p>
    <h5>
      The client, Pab’s Packs, is a non-profit founded by teenagers to provide comfort and encouragement to chronically ill teens by donating custom backpacks filled with select items to make their hospital stays easier.
      I Worked within a team of four developers to build an application that tracks inventory for the backpacks and the merchandise sold at their Debut: Shop for Kindness store, as well as the commitments for packing events and hospital drop-offs.
      Responsible for creating front-end and back-end of the project dashboard.
      Technologies used:  JavaScript, AngularJS, Angular Chart, PostgreSQL, HTML5, CSS3, Node.js, Express.js.
    </h5>
    <img src="styles/images/pabspacks.png" width="900" height="500">
  </p>

</div>
