/*****  HOME  *****/

.jumbotron {
  font-family: Helvetica;
  text-align: center;
  letter-spacing: 1em;
  color: White;
  background-color: SlateGrey;
  padding-top: 20px;
  padding-bottom: 5px;
}

.logo {
  float: left;
  margin-left: 50px;
}

h4 {
  letter-spacing: 2px;
}

.navbar {
  margin-left:50px;
  margin-right:50px;
  padding-bottom: 30px;
  font-family: Helvetica;
  display: inline-block;
}

.navbar a {
  color: White;
  text-align: center;
  font-family: Helvetica;
  font-size: 75%;
  letter-spacing: 2px;
  margin-left:20px;
  margin-right:20px;*/
  padding-left:20px;
  padding-right:20px;
}

a.active-home {
    color: Grey;
    text-decoration: underline;
}

a.active {
    color: Black;
    text-decoration: underline;
}

a {
  color: Black;
}

.backgroundDiv {
  /*margin-top: 30px;*/
  /*min-height: 753px;*/
  margin-top: -1em;
  background-size: cover;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.codercat {
  float: left;
}

.bio {
  float: right;
  color: Grey;
}

.technicalSkills {
  color: Grey;
}

.education {
  color: Grey;
}

#footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*****  ABOUT  *****/

#about {
  /*color: Red;*/
}



/*****  WORK  *****/

#work {
  align-content: center;
}

#gitHub {
  color: Grey;
}



/*****  CONTACT  *****/

#contact {
  align-content: center;
  color: Grey;
}
