/**** MEGRIM ****/

@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  src: local('Megrim'), local('Megrim-Regular'), url(https://fonts.gstatic.com/s/megrim/v2/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 700;
  src: local('Megrim Bold'), local('Megrim-Bold'), url(https://fonts.gstatic.com/s/megrim/v2/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/*****  SITE  *****/

body{
    margin: 0px;
    padding: 0px;
}

.sectionHeader {
  font-family: 'Megrim';
}

/*****  HOME  *****/

.jumbotron {
  font-family: "Megrim";
  text-align: center;
  letter-spacing: 1em;
  color: #607B8B;
  background-color: White;
  padding-top: 20px;
  padding-bottom: 5px;
}

#jobTitle {
  word-spacing: 15px;
}

h4 {
  letter-spacing: 2px;
}

.navbar {
  margin-left:50px;
  margin-right:50px;
  padding-bottom: 30px;
  font-family: Helvetica;
  display: inline-block;
}

.navbar a {
  color: #607B8B;
  text-align: center;
  font-family: "Megrim";
  font-size: 75%;
  letter-spacing: 2px;
  margin-left:20px;
  margin-right:20px;*/
  padding-left:20px;
  padding-right:20px;
}

a.active-home {
    color: Grey;
    text-decoration: underline;
}

a.active {
    color: Black;
    text-decoration: underline;
}

a {
  color: #36648B;
}

.backgroundDiv {
  /*margin-top: 30px;*/
  /*min-height: 753px;*/
  margin-top: -1em;
  background-size: cover;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.bio {
  float: right;
  /* color: Grey; */
  color: #607B8B;
}

.technicalSkills {
  /* color: Grey; */
  color: #607B8B;
}

.education {
  /* color: Grey; */
  color: #607B8B;
}


/*****  ABOUT  *****/

#about {
  background-color: #F2F2F2;
}



/*****  WORK  *****/

#work {
  align-content: center;
  color: #607B8B;
  background-color: #F2F2F2;
  /* text-align: justify; */
}

#gitHub {
  /* color: Grey; */
  color: #607B8B;
}



/*****  CONTACT  *****/

#contact {
  align-content: center;
  /* color: Grey; */
  color: #607B8B;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
